<ion-view view-title="Booking">
  <ion-content class="padding">
    
    <form ng-submit="booking.createBooking()">
      <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Topic" ng-model="booking.newBooking.topic">
          </label>
          <label class="item item-input">
            <textarea placeholder="Description" ng-model="booking.newBooking.description"></textarea> 
          </label>
      </div>
      <input type="submit" class="button button-block button-calm">Book It</input>
    </form>

  <ion-modal-view ng-show="booking.showModal">
    <ion-header-bar>
      <h1 class="title"><h6>THANKS!</h6></h1>
    </ion-header-bar>
    <ion-content>
      <h4>Your booking has been made successfully!</h4>
      <a ui-sref="tab.home" ng-click="booking.updateInstructorQueue()" class="dashboard-button">Back to Dashboard</a>
    </ion-content>
  </ion-modal-view>

</ion-view>