<ion-view view-title="Instructors" id="instructors-view">
  
  <div id="welcome-message">
    <h2>Hi there, {{ currentUser.get('firstName') }}</h2>
    <h6>PICK AN INSTRUCTOR BELOW</h6>
  </div>

  <ion-content id="instructor-information">

  <section>
    <div class="horizontal">
      <div class="table">
        <article ng-repeat="instructor in home.instructors" ng-click="home.toggleQueue(instructor)">
          <img ng-src="{{ instructor.img }}" class="instructor-photo">
          <h6>{{ instructor.name | uppercase }} | {{instructor.status }}</h6>
          <button class="book-button" ng-show="!home.currUser.booked" ng-click="home.addBooking(instructor)">BOOK</button>
          <button ng-if="home.currUser.booked === instructor.name" ng-click="home.cancelBooking(instructor)">Take me Out</button>
          <p ng-show="instructor.bookings.length > 0">queue: {{instructor.bookings.length}}</p>
          <ul ng-show="instructor.showMe">
            <li ng-repeat="student in instructor.bookings">{{ student.student }}</li>
          </ul>
        </article>
      </div>
    </div>  
  </section>
  </ion-content>

</ion-view>
